:root {
    --primary-bg: #d7fae7;
    --secondary-bg: #252525;
    --primary-grey: rgba(122, 122, 122, 0.5);
    --secondary-grey: #2e4447;
    --primary-line: 1px solid var(--primary-grey);
    --primary-margin: 2rem;
    --secondary-margin: 1rem;
    --section-line: 3px dashed var(--primary-grey);
    --emphasis-color: #d4258b;
    --highlight-color: rgba(255, 255, 0, 0.4);
    --link-color: #354A12;
    --primary-shadow: 0 0.5rem 1rem 0.1rem var(--primary-grey);
    --secondary-shadow: 0 0.3rem 0.5rem 0.05rem var(--primary-grey);
    --tertiary-shadow: 0 0.1rem 0.2rem 0.02rem var(--primary-grey);
    --comment-color: #4b4b4b;
    --code-block: #d7fae7;

    --primary-gradient: linear-gradient(45deg, #bcf1e4, #aeeff5 40%, #d7fae7);
    --secondary-gradient: linear-gradient(45deg, #333030, #202020 40%, #1a1818);
    --tertiary-gradient: linear-gradient(45deg, rgba(188, 241, 228, 0.7), rgba(174, 239, 245, 0.7) 40%, rgba(215, 250, 231, 0.7));

    --smaller: 1.4rem;
    --regular: 1.6rem;
    --big: 2rem;
    --bigger: 2.25rem;
    --biggest: 2.75rem;

    font-size: 62.5%;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

::-webkit-scrollbar {
    height: 6px;
}


::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}