:root {
    --primary-bg: #f0f8ff;
    --secondary-bg: #252525;
    --primary-grey: rgba(122, 122, 122, 0.5);
    --primary-line: 1px solid var(--primary-grey);
    --primary-margin: 2rem;
    --secondary-margin: 1rem;
    --section-line: 3px dashed var(--primary-grey);
    --emphasis-color: #fc5c5c;
    --highlight-color: rgba(255, 255, 0, 0.4);
    --link-color: #29a29a;
    --primary-shadow: 0 0.5rem 1rem 0.1rem var(--primary-grey);
    --secondary-shadow: 0 0.3rem 0.5rem 0.05rem var(--primary-grey);
    --tertiary-shadow: 0 0.1rem 0.2rem 0.02rem var(--primary-grey);
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}