.table {
    text-align: center;
    border: var(--primary-line);
    width: 100%;
    border-collapse: collapse;

    &__row > * {
        border: var(--primary-line);
        padding: 0.5rem;
    }
}

.list {
    margin-left: 3rem;
    & > :not(:last-child) {
        margin-bottom: var(--secondary-margin);
    }
}

.preformat {
    display: block;
    position: relative;
    font-size: var(--smaller);
    background-color: var(--code-block);
    border-radius: 0.5rem;
    border: var(--primary-line);
    padding: 3rem;
    white-space: nowrap;
    overflow-x: auto;

    @media only screen and (min-width: 56.25em) { //900px
        font-size: var(--regular);
    }

    @media only screen and (min-width: 87.5em) { //1400px
        font-size: calc(var(--regular)*1.05);
    }
}

/* old keyword page */

// .keywords {
//     list-style: none;
//     font-size: var(--big);
//     margin-left: 5rem;
// }

// .details {
//     margin-bottom: var(--primary-margin);
// }

// .summary {
//     outline: none;
// }

/* new keyword page */

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem , 1fr));
    grid-auto-rows: minmax(30rem, max-content);
    gap: 2rem;
    padding: 5rem;
    justify-content: center;

    @media only screen and (max-width: 37.5em) { //600px
        grid-auto-rows: min-content;
    }
}

.card {
    background-color: var(--code-block);
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: var(--primary-shadow);
    transition: all 0.3s;

    &:hover {
        box-shadow: var(--secondary-shadow);
        transform: scale(1.05);
    }

    &__title {
        min-height: 4rem;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        text-align: center;
        font-family: "Montserrat", sans-serif;
        text-transform: uppercase;
        font-size: var(--small);
        overflow-x: auto;
        border-bottom: var(--primary-line);
    }

    &__details {
        margin-bottom: var(--secondary-margin);
    }
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: rgba(#000, 0.45);
    z-index: 10;

    &__container {
        position: absolute;
        width: 80%;
        background-color: var(--code-block);
        border-radius: 1.5rem;
        box-shadow: var(--primary-shadow);
        padding: 3rem;
    }

    &__keyword {
        margin-bottom: var(--primary-margin);
        font-family: "Montserrat", sans-serif;
    }

    &__definition {
        margin-bottom: var(--primary-margin);
    }

    &__close-btn {
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
    }
}
