.table {
    text-align: center;
    border: var(--primary-line);
    width: 100%;
    border-collapse: collapse;

    &__row > * {
        border: var(--primary-line);
        padding: 0.5rem;
    }
}

.list {
    margin-left: 3rem;
    &>:not(:last-child) {
        margin-bottom: var(--secondary-margin);
    }
}

.preformat {
    display: block;
    font-size: calc(var(--regular) * 1.1);
    background-color: var(--code-block);
    border-radius: 0.5rem;
    border: var(--primary-line);
    padding: 3rem;
}

.keywords {
    list-style: none;
    font-size: var(--big);
    margin-left: 5rem;
}

.details {
    margin-bottom: var(--primary-margin);
}

.summary {
    outline: none;
}