.emphasis {
    font-weight: bold;
    color: var(--emphasis-color);
}

.keyword {
    @include link;
    background-color: var(--highlight-color);
}

.external {
    font-family:'Times New Roman', Times, serif;
    font-size: 1.8rem;
    &:link,
    &:visited {
        color: var(--link-color);
    }
}

.formula,
.specialName {
    font-family: 'Courier New', Courier, monospace;
}

.annotation {
    font-size: 80%;
    background-color: var(--highlight-color);
}

.comment {
    font-size: 80%;
    opacity: 0.8;
}

.box {
    border: var(--primary-line);
    padding: 1rem;
}

.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: var(--primary-margin);
}

.search-bar {
    display: inline-block;
    width: 50%;
    height: 3rem;
    font-size: 2rem;
    outline: none;
    border: none;
    border-radius: 100vh;
    padding: 0 1rem;
    box-shadow: var(--primary-shadow);
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.davis-logo {
    width: 10vw;
    height: auto;
    margin-right: var(--secondary-margin);
}