.emphasis {
    font-weight: bold;
    color: var(--emphasis-color);
}

.keyword {
    @include link;
    background-color: var(--highlight-color);
    cursor: pointer;
}

.external {
    font-size: var(--regular);
    &:link,
    &:visited {
        color: var(--link-color);
    }
    &:hover {
        background-color: var(--highlight-color);
    }
}

.formula,
.specialName {
    font-family: "Courier New", Courier, monospace;
}

.annotation {
    font-size: 80%;
    background-color: var(--highlight-color);
}

.comment {
    font-size: 90%;
    color: var(--comment-color);
}

.box {
    border: var(--primary-line);
    padding: 1rem;
}

.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: var(--primary-margin);
}

.search-bar {
    display: inline-block;
    width: 50%;
    height: 3rem;
    font-size: 2rem;
    outline: none;
    border: none;
    border-radius: 100vh;
    padding: 0 1rem;
    box-shadow: var(--primary-shadow);
}

.contact-container {
    height: calc(100vh - 20rem);
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 2rem;
    font-style: normal;

    & > *:not(:last-child) {
        margin-bottom: var(--primary-margin);
    }
}

.davis-logo {
    width: 20rem;
    height: auto;
    margin-right: var(--primary-margin);
}

.theme {
    @include side-button;
    top: 40%;

    @media only screen and (max-height: 43.75em) {
        //700px
        top: 2.25rem;
        right: 6rem;
    }

    &:active {
        background-color: var(--highlight-color);
    }

    &__icon {
        height: 1.5rem;
        width: 1.5rem;
        fill: #fff;
    }

    &__icon--dark {
        display: none;
    }

    &--dark {
        background-color: var(--primary-grey);

        & > .theme__icon > .theme__icon--light {
            display: none;
        }
        & > .theme__icon > .theme__icon--dark {
            display: block;
        }
    }
}

.backToTop {
    @include side-button;
    top: 33%;

    @media only screen and (max-height: 43.75em) {
        //700px
        top: 2.25rem;
        right: 10rem;
    }

    &:active {
        background-color: var(--highlight-color);
    }

    &__icon {
        height: 1.5rem;
        width: 1.5rem;
        fill: #fff;
    }

    &--dark {
        background-color: var(--primary-grey);
    }
}

.size-control {
    position: fixed;
    z-index: 20;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 3rem;
        height: 3rem;
        border-radius: 100vh;
        border: none;
        background-color: var(--link-color);
        cursor: pointer;
        outline: none;
        box-shadow: var(--primary-shadow);
        transition: all 0.5s ease 0s;
        &:not(:last-child) {
            margin-bottom: var(--secondary-margin);
        }
        &:active {
            background-color: var(--highlight-color);
        }
        &--dark {
            background-color: var(--primary-grey);
        }
        > * {
            height: 1.5rem;
            width: 1.5rem;
            fill: #fff;
        }
        @media only screen and (max-height: 18.75em) {
            //300px
            &:not(:last-child) {
                margin-right: var(--secondary-margin);
                margin-bottom: 0;
            }
        }
    }
    @media only screen and (max-height: 18.75em) {
        //300px
        flex-direction: row;
        transform: translateY(0);
        top: 2.25rem;
        right: 14rem;
    }
}

.sidebar {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    display: flex;

    &__btn {
        order: 1;
        position: absolute;
        top: 50vh;
        left: -2.25rem;
        transform: translateY(-50%);
        border: none;
        border-right: var(--primary-line);
        outline: none;
        border-radius: 100vh;
        width: 4rem;
        height: 4rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        cursor: pointer;
        transition: all 0.3s ease-out;

        &:hover {
            background-color: var(--highlight-color);
        }

        &--expand {
            left: 28rem;
        }
    }

    &__icon {
        width: 2.5rem;
        height: 2.5rem;

        &-2 {
            display: none;
        }

        &--expand {
            & > .sidebar__icon-2 {
                display: block;
            }
            & > .sidebar__icon-1 {
                display: none;
            }
        }
    }

    &__links {
        text-align: center;
        overflow-y: auto;
        line-height: 1.5;
        padding: 2rem 1rem;
        background-color: var(--code-block);
        color: currentColor;
        position: absolute;
        list-style: none;
        top: 0;
        left: -110vw;
        width: 30rem;
        height: 100vh;
        transition: all 0.2s;

        & > :not(:last-child) {
            margin-bottom: var(--primary-margin);
        }

        &--expand {
            left: 0rem;
        }
    }

    &__link {
        @include link;
        border-radius: 5rem;
        padding: 0 2rem;
    }

    &__link:link,
    &__link:visited {
        color: inherit;
        text-decoration: none;
    }
}

.close-btn {
    height: 3.8rem;
    width: 3.8rem;
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: transparent;
    color: currentColor;

    &::after {
        content: "×";
        font-size: 3.5rem;
        cursor: pointer;
    }

    &:hover,
    &:active {
        background-color: var(--highlight-color);
    }
}

.commentToggle {
    border: none;
    outline: none;
    border-radius: 50%;
    background-color: var(--emphasis-color);
    cursor: pointer;
    color: #e6e6e6;
    width: 1.8rem;
    height: 1.8rem;
    font-weight: 700;
    font-size: 0.75rem;
    transition: all 0.2s;
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
}

.commentOff {
    & > .comment {
        display: none;
    }
    & > .commentToggle {
        opacity: 0.5;
        text-decoration: line-through;
        text-decoration-thickness: 0.3rem;
    }
}
