.glide__arrows {
    position: fixed;
    bottom: 2rem;
    height: 10vh;
    width: 85%;
    & > .glide__arrow {
        color: currentColor;
        border: var(--primary-line);
        height: 50%;
    }
}
.glide__arrow {
    position: fixed;
    bottom: 1rem;
    height: 3rem;
    &--left {
        left: 5vw !important;
    }
    &--right {
        right: 10vw !important;
    }
}

.glide__bullets {
    position: fixed !important;
    bottom: 4.5rem !important;

    @media only screen and (max-width: 43.75em) {
        //700px
        bottom: 10rem !important;
    }
    & > .glide__bullet {
        width: 2rem;
        height: 2rem;
        @media only screen and (max-width: 31.25em) {
            //500px
            width: 1rem;
            height: 1rem;
        }
    }
}

.glide__slides {
    height: 60vh;
    & > .glide__slide {
    overflow-y: auto;
    }
}