@mixin link {
    display: inline-block;
    padding: 0 1rem;
    border: var(--primary-line);
    border-radius: 100vh;
    box-shadow: var(--secondary-shadow);
    &:link,
    &:visited {
        text-decoration: none;
        color: inherit;
    }
    &:hover {
        background-color: var(--highlight-color);
        box-shadow: var(--tertiary-shadow);
        transform: translateY(0.1rem);
    }
    &--active {
        cursor: none;
        pointer-events: none;
        background-color: var(--primary-grey);
    }
}

@mixin side-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 1rem;
    font-size: 2.2rem;
    width: 3rem;
    height: 3rem;
    border-radius: 100vh;
    border: none;
    background-color: var(--link-color);
    cursor: pointer;
    outline: none;
    box-shadow: var(--primary-shadow);
    transition: all 0.5s ease 0s;
}