@charset "UTF-8";
:root {
  --primary-bg: #d7fae7;
  --secondary-bg: #252525;
  --primary-grey: rgba(122, 122, 122, 0.5);
  --secondary-grey: #2e4447;
  --primary-line: 1px solid var(--primary-grey);
  --primary-margin: 2rem;
  --secondary-margin: 1rem;
  --section-line: 3px dashed var(--primary-grey);
  --emphasis-color: #d4258b;
  --highlight-color: rgba(255, 255, 0, 0.4);
  --link-color: #354A12;
  --primary-shadow: 0 0.5rem 1rem 0.1rem var(--primary-grey);
  --secondary-shadow: 0 0.3rem 0.5rem 0.05rem var(--primary-grey);
  --tertiary-shadow: 0 0.1rem 0.2rem 0.02rem var(--primary-grey);
  --comment-color: #4b4b4b;
  --code-block: #d7fae7;
  --primary-gradient: linear-gradient(45deg, #bcf1e4, #aeeff5 40%, #d7fae7);
  --secondary-gradient: linear-gradient(45deg, #333030, #202020 40%, #1a1818);
  --tertiary-gradient: linear-gradient(45deg, rgba(188, 241, 228, 0.7), rgba(174, 239, 245, 0.7) 40%, rgba(215, 250, 231, 0.7));
  --smaller: 1.4rem;
  --regular: 1.6rem;
  --big: 2rem;
  --bigger: 2.25rem;
  --biggest: 2.75rem;
  font-size: 62.5%;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.table {
  text-align: center;
  border: var(--primary-line);
  width: 100%;
  border-collapse: collapse;
}

.table__row > * {
  border: var(--primary-line);
  padding: 0.5rem;
}

.list {
  margin-left: 3rem;
}

.list > :not(:last-child) {
  margin-bottom: var(--secondary-margin);
}

.preformat {
  display: block;
  font-size: calc(var(--regular) * 1.1);
  background-color: var(--code-block);
  border-radius: 0.5rem;
  border: var(--primary-line);
  padding: 3rem;
}

.keywords {
  list-style: none;
  font-size: var(--big);
  margin-left: 5rem;
}

.details {
  margin-bottom: var(--primary-margin);
}

.summary {
  outline: none;
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  z-index: 10;
}

.modal__container {
  position: absolute;
  width: 80%;
  background-color: var(--code-block);
  border-radius: 1.5rem;
  -webkit-box-shadow: var(--primary-shadow);
          box-shadow: var(--primary-shadow);
  padding: 3rem;
}

.modal__keyword {
  margin-bottom: var(--primary-margin);
  font-family: "Montserrat", sans-serif;
}

.modal__definition {
  margin-bottom: var(--primary-margin);
}

.modal__close-btn {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}

.emphasis {
  font-weight: bold;
  color: var(--emphasis-color);
}

.keyword {
  display: inline-block;
  padding: 0 1rem;
  border: var(--primary-line);
  border-radius: 100vh;
  -webkit-box-shadow: var(--secondary-shadow);
          box-shadow: var(--secondary-shadow);
  background-color: var(--highlight-color);
  cursor: pointer;
}

.keyword:link, .keyword:visited {
  text-decoration: none;
  color: inherit;
}

.keyword:hover {
  background-color: var(--highlight-color);
  -webkit-box-shadow: var(--tertiary-shadow);
          box-shadow: var(--tertiary-shadow);
  -webkit-transform: translateY(0.1rem);
          transform: translateY(0.1rem);
}

.keyword--active {
  cursor: none;
  pointer-events: none;
  background-color: var(--primary-grey);
}

.external {
  font-size: var(--regular);
}

.external:link, .external:visited {
  color: var(--link-color);
}

.external:hover {
  background-color: var(--highlight-color);
}

.formula,
.specialName {
  font-family: "Courier New", Courier, monospace;
}

.annotation {
  font-size: 80%;
  background-color: var(--highlight-color);
}

.comment {
  font-size: 90%;
  color: var(--comment-color);
}

.box {
  border: var(--primary-line);
  padding: 1rem;
}

.search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: var(--primary-margin);
}

.search-bar {
  display: inline-block;
  width: 50%;
  height: 3rem;
  font-size: 2rem;
  outline: none;
  border: none;
  border-radius: 100vh;
  padding: 0 1rem;
  -webkit-box-shadow: var(--primary-shadow);
          box-shadow: var(--primary-shadow);
}

.contact-container {
  height: calc(100vh - 20rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 2rem;
  font-style: normal;
}

.contact-info > *:not(:last-child) {
  margin-bottom: var(--primary-margin);
}

.davis-logo {
  width: 20rem;
  height: auto;
  margin-right: var(--primary-margin);
}

.theme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  right: 1rem;
  z-index: 20;
  font-size: 2.2rem;
  width: 3rem;
  height: 3rem;
  border-radius: 100vh;
  border: none;
  background-color: var(--link-color);
  cursor: pointer;
  outline: none;
  -webkit-box-shadow: var(--primary-shadow);
          box-shadow: var(--primary-shadow);
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  top: 40%;
}

@media only screen and (max-height: 43.75em) {
  .theme {
    top: 2.25rem;
    right: 6rem;
  }
}

.theme:active {
  background-color: var(--highlight-color);
}

.theme__icon {
  height: 1.5rem;
  width: 1.5rem;
  fill: #fff;
}

.theme__icon--dark {
  display: none;
}

.theme--dark {
  background-color: var(--primary-grey);
}

.theme--dark > .theme__icon > .theme__icon--light {
  display: none;
}

.theme--dark > .theme__icon > .theme__icon--dark {
  display: block;
}

.backToTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  right: 1rem;
  z-index: 20;
  font-size: 2.2rem;
  width: 3rem;
  height: 3rem;
  border-radius: 100vh;
  border: none;
  background-color: var(--link-color);
  cursor: pointer;
  outline: none;
  -webkit-box-shadow: var(--primary-shadow);
          box-shadow: var(--primary-shadow);
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  top: 33%;
}

@media only screen and (max-height: 43.75em) {
  .backToTop {
    top: 2.25rem;
    right: 10rem;
  }
}

.backToTop:active {
  background-color: var(--highlight-color);
}

.backToTop__icon {
  height: 1.5rem;
  width: 1.5rem;
  fill: #fff;
}

.backToTop--dark {
  background-color: var(--primary-grey);
}

.size-control {
  position: fixed;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 50%;
  right: 1rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.size-control__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 100vh;
  border: none;
  background-color: var(--link-color);
  cursor: pointer;
  outline: none;
  -webkit-box-shadow: var(--primary-shadow);
          box-shadow: var(--primary-shadow);
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.size-control__icon:not(:last-child) {
  margin-bottom: var(--secondary-margin);
}

.size-control__icon:active {
  background-color: var(--highlight-color);
}

.size-control__icon--dark {
  background-color: var(--primary-grey);
}

.size-control__icon > * {
  height: 1.5rem;
  width: 1.5rem;
  fill: #fff;
}

@media only screen and (max-height: 18.75em) {
  .size-control__icon:not(:last-child) {
    margin-right: var(--secondary-margin);
    margin-bottom: 0;
  }
}

@media only screen and (max-height: 18.75em) {
  .size-control {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    top: 2.25rem;
    right: 14rem;
  }
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar__btn {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  position: absolute;
  top: 50vh;
  left: -2.25rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: none;
  border-right: var(--primary-line);
  outline: none;
  border-radius: 100vh;
  width: 4rem;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.sidebar__btn--expand {
  left: 28rem;
}

.sidebar__icon {
  width: 2.5rem;
  height: 2.5rem;
}

.sidebar__icon-2 {
  display: none;
}

.sidebar__icon--expand > .sidebar__icon-2 {
  display: block;
}

.sidebar__icon--expand > .sidebar__icon-1 {
  display: none;
}

.sidebar__links {
  overflow-y: auto;
  line-height: 1.5;
  padding: 2rem 1rem;
  background-color: var(--code-block);
  color: currentColor;
  position: absolute;
  list-style: none;
  top: 0;
  left: -110vw;
  width: 30rem;
  height: 100vh;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.sidebar__links > :not(:last-child) {
  margin-bottom: var(--primary-margin);
}

.sidebar__links--expand {
  left: 0rem;
}

.sidebar__link {
  display: inline-block;
  padding: 0 1rem;
  border: var(--primary-line);
  border-radius: 100vh;
  -webkit-box-shadow: var(--secondary-shadow);
          box-shadow: var(--secondary-shadow);
  border-radius: 5rem;
  padding: 0 2rem;
}

.sidebar__link:link, .sidebar__link:visited {
  text-decoration: none;
  color: inherit;
}

.sidebar__link:hover {
  background-color: var(--highlight-color);
  -webkit-box-shadow: var(--tertiary-shadow);
          box-shadow: var(--tertiary-shadow);
  -webkit-transform: translateY(0.1rem);
          transform: translateY(0.1rem);
}

.sidebar__link--active {
  cursor: none;
  pointer-events: none;
  background-color: var(--primary-grey);
}

.sidebar__link:link, .sidebar__link:visited {
  color: inherit;
  text-decoration: none;
}

.close-btn {
  border: none;
  outline: none;
  background-color: transparent;
  color: currentColor;
}

.close-btn::after {
  content: "×";
  font-size: 3.5rem;
  cursor: pointer;
}

.container {
  font-family: Arial, sans-serif;
  font-size: var(--regular);
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--primary-bg);
  background: var(--primary-gradient);
  background-attachment: fixed;
  color: #000;
  line-height: 1.6;
  padding-bottom: 2rem;
  overflow-y: auto;
}

.container--dark {
  background-color: var(--secondary-bg);
  background: var(--secondary-gradient);
  color: #fff;
}

.container--home {
  background: var(--tertiary-gradient), url("../src/sky.jpg");
  background-size: cover;
  background-position: center;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: var(--primary-margin) 0;
}

.header__title {
  font-family: "Montez", cursive;
  font-size: var(--biggest);
  letter-spacing: 0.25rem;
  margin-bottom: var(--secondary-margin);
}

@media only screen and (max-height: 43.75em) and (max-width: 40.625em) {
  .header {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: var(--secondary-margin);
  }
}

.nav {
  font-family: "Montserrat", sans-serif;
}

.nav__item {
  font-size: 1.5rem;
}

.nav__icon {
  position: fixed;
  top: 2rem;
  right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 100vh;
  border: none;
  outline: none;
  cursor: pointer;
  background: var(--emphasis-color);
  -webkit-box-shadow: var(--primary-shadow);
          box-shadow: var(--primary-shadow);
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.nav__icon__svg {
  height: 3rem;
  width: 3rem;
  fill: #fff;
}

.nav__links {
  position: fixed;
  top: 6rem;
  right: 1.5rem;
  list-style: none;
  height: 18rem;
  width: 18rem;
  border: 3px solid var(--code-block);
  border-radius: 2rem;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--code-block);
}

@media only screen and (max-height: 18.75em) {
  .nav__links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 7rem;
    width: 50rem;
  }
}

.nav__link {
  display: inline-block;
  padding: 0 1rem;
  border: var(--primary-line);
  border-radius: 100vh;
  -webkit-box-shadow: var(--secondary-shadow);
          box-shadow: var(--secondary-shadow);
}

.nav__link:link, .nav__link:visited {
  text-decoration: none;
  color: inherit;
}

.nav__link:hover {
  background-color: var(--highlight-color);
  -webkit-box-shadow: var(--tertiary-shadow);
          box-shadow: var(--tertiary-shadow);
  -webkit-transform: translateY(0.1rem);
          transform: translateY(0.1rem);
}

.nav__link--active {
  cursor: none;
  pointer-events: none;
  background-color: var(--primary-grey);
}

.nav__link:link, .nav__link:visited {
  color: currentColor;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: calc(var(--smaller)*0.95);
  padding: 3rem 0;
}

.content__topics {
  list-style: none;
}

.content__item:not(:last-child) {
  margin-bottom: var(--primary-margin);
}

.content__link {
  display: inline-block;
  padding: 0 1rem;
  border: var(--primary-line);
  border-radius: 100vh;
  -webkit-box-shadow: var(--secondary-shadow);
          box-shadow: var(--secondary-shadow);
  white-space: nowrap;
}

.content__link:link, .content__link:visited {
  text-decoration: none;
  color: inherit;
}

.content__link:hover {
  background-color: var(--highlight-color);
  -webkit-box-shadow: var(--tertiary-shadow);
          box-shadow: var(--tertiary-shadow);
  -webkit-transform: translateY(0.1rem);
          transform: translateY(0.1rem);
}

.content__link--active {
  cursor: none;
  pointer-events: none;
  background-color: var(--primary-grey);
}

.content__link:link, .content__link:visited {
  text-decoration: none;
  color: inherit;
}

.topic {
  width: 85%;
  margin: 0 auto;
}

.topic__title {
  margin-bottom: var(--primary-margin);
  font-size: var(--bigger);
}

@media only screen and (max-height: 43.75em) {
  .topic__title {
    padding-top: 1rem;
  }
}

.topic__subtitle, .topic__section__title {
  margin-bottom: var(--secondary-margin);
  font-size: var(--big);
}

.topic__goals {
  margin-left: var(--primary-margin);
  margin-bottom: var(--primary-margin);
}

.topic__section {
  border-top: var(--section-line);
}

.topic__section > *:not(.box):not(.preformat) {
  padding: 1rem 0;
}

.topic__section:last-child {
  border-bottom: var(--section-line);
  margin-bottom: var(--primary-margin);
}

.topic__section__title {
  font-style: oblique;
}

.topic__section__subtitle {
  font-size: var(--regular);
}

.topic__section__subtitle--small {
  font-size: var(--smaller);
}
/*# sourceMappingURL=main.css.map */