@import "./base";
@import "./mixin";
@import "./data";
@import "./extra";

.container {
    font-family: 'Montserrat', sans-serif;
    font-size: var(--regular);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-bg);
    background: var(--primary-gradient);
    background-attachment: fixed;
    color: #000;
    line-height: 1.6;
    padding-bottom: 2rem;
    overflow-y: auto;

    &--dark {
        background-color: var(--secondary-bg);
        background: var(--secondary-gradient);
        color: #fff;
    }


}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: var(--primary-line);
    padding: 2rem 0;
    margin-bottom: var(--primary-margin);

    &__title {
        font-family: 'Montez', cursive;
        font-size: var(--biggest);
        letter-spacing: 0.25rem;
        margin-bottom: var(--secondary-margin);
    }
}

.nav {
    width: 100%;

    &__links {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    &__link {
        @include link;
    }
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__topics {
        list-style: none;
    }
    &__item {
        &:not(:last-child) {
            margin-bottom: var(--primary-margin);
        }
    }

    &__link {
        @include link;
        white-space: nowrap;
    }

    &__link:link,
    &__link:visited {
        text-decoration: none;
        color: inherit;
    }
}

.topic {
    width: 85%;
    margin: 0 auto;

    &__title {
        text-align: center;
        margin-bottom: var(--primary-margin);
        font-size: var(--bigger);
    }

    &__subtitle {
        margin-bottom: var(--secondary-margin);
        font-size: var(--big);
    }

    &__goals {
        margin-left: var(--primary-margin);
        margin-bottom: var(--primary-margin);
    }

    &__section {
        &>*:not(.box):not(.preformat) {
            padding: 1rem 0;
        }
        border-top: var(--section-line);

        &:last-child(){
            border-bottom: var(--section-line);
            margin-bottom: var(--primary-margin);
        }


        &__title {
            @extend .topic__subtitle;
            font-style: oblique;
        }

        &__subtitle {
            font-size: var(--regular);

            &--small {
                font-size: var(--smaller);
            }
        }
    }
}