@import "./base";
@import "./mixin";
@import "./data";
@import "./extra";
@import "./gsap";

.container {
    font-family: Arial, sans-serif;
    font-size: var(--regular);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-bg);
    background: var(--primary-gradient);
    background-attachment: fixed;
    color: #000;
    line-height: 1.6;
    padding-bottom: 2rem;
    overflow-y: auto;

    &--dark {
        background-color: var(--secondary-bg);
        background: var(--secondary-gradient);
        color: #fff;
    }

    &--home {
        background: var(--tertiary-gradient), url("../src/sky.jpg");
        background-size: cover;
        background-position: center;
    }
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: var(--primary-margin) 0;

    &__title {
        font-family: "Montez", cursive;
        font-size: var(--biggest);
        letter-spacing: 0.25rem;
        margin-bottom: var(--secondary-margin);
    }
        @media only screen and (max-height: 43.75em) and (max-width: 40.625em) { //height: 700px, width: 650px
            align-items: flex-start;
            margin-left: var(--secondary-margin);
        }
}

.nav {
    font-family: "Montserrat", sans-serif;
    &__item {
        font-size: 1.5rem;
    }

    &__icon {
        position: fixed;
        z-index: 10;
        top: 2rem;
        right: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 3.5rem;
        width: 3.5rem;
        border-radius: 100vh;
        border: none;
        outline: none;
        cursor: pointer;
        background: var(--emphasis-color);
        box-shadow: var(--primary-shadow);
        transition: all 0.5s ease 0s;

        &__svg {
            height: 3rem;
            width: 3rem;
            fill: #fff;
        }
    }

    &__links {
        position: fixed;
        z-index: 10;
        top: 6rem;
        right: 1.5rem;
        list-style: none;
        height: 18rem;
        width: 18rem;
        border: 3px solid var(--code-block);
        border-radius: 2rem;
        display: none;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: var(--code-block);

        @media only screen and (max-height: 18.75em) {
            //300px
            flex-direction: row;
            height: 7rem;
            width: 50rem;
        }
    }

    &__link {
        @include link;
        &:link,
        &:visited {
            color: currentColor;
        }
    }
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    font-size: calc(var(--smaller)*0.95);
    padding: 3rem 0;
    &__topics {
        list-style: none;
    }
    &__item {
        &:not(:last-child) {
            margin-bottom: var(--primary-margin);
        }
    }

    &__link {
        @include link;
        white-space: nowrap;
    }

    &__link:link,
    &__link:visited {
        text-decoration: none;
        color: inherit;
    }

}

.topic {
    width: 85%;
    margin: 0 auto;

    &__title {
        margin-bottom: var(--primary-margin);
        font-size: var(--bigger);

        @media only screen and (max-height: 43.75em) {
            padding-top: 1rem;
        }
    }

    &__subtitle {
        margin-bottom: var(--secondary-margin);
        font-size: var(--big);
    }

    &__goals {
        margin-left: var(--primary-margin);
        margin-bottom: var(--primary-margin);
    }

    &__section {
        & > *:not(.box):not(.preformat) {
            padding: 1rem 0;
        }
        border-top: var(--section-line);

        &:last-child() {
            border-bottom: var(--section-line);
            margin-bottom: var(--primary-margin);
        }

        &__title {
            @extend .topic__subtitle;
            font-style: oblique;
        }

        &__subtitle {
            font-size: var(--regular);

            &--small {
                font-size: var(--smaller);
                text-decoration: underline;
            }
        }
    }
}
