:root {
  --primary-bg: #f0f8ff;
  --secondary-bg: #252525;
  --primary-grey: rgba(122, 122, 122, 0.5);
  --primary-line: 1px solid var(--primary-grey);
  --primary-margin: 2rem;
  --secondary-margin: 1rem;
  --section-line: 3px dashed var(--primary-grey);
  --emphasis-color: #fc5c5c;
  --highlight-color: rgba(255, 255, 0, 0.4);
  --link-color: #29a29a;
  --primary-shadow: 0 0.5rem 1rem 0.1rem var(--primary-grey);
  --secondary-shadow: 0 0.3rem 0.5rem 0.05rem var(--primary-grey);
  --tertiary-shadow: 0 0.1rem 0.2rem 0.02rem var(--primary-grey);
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.table {
  text-align: center;
  border: var(--primary-line);
  width: 100%;
  border-collapse: collapse;
}

.table__row > * {
  border: var(--primary-line);
  padding: 0.5rem;
}

.list {
  margin-left: 3rem;
}

.list > :not(:last-child) {
  margin-bottom: var(--secondary-margin);
}

.preformat {
  font-size: 2rem;
}

.keywords {
  list-style: none;
  font-size: 1.75rem;
  margin-left: 5rem;
}

.details {
  margin-bottom: var(--primary-margin);
}

.summary {
  outline: none;
}

.emphasis {
  font-weight: bold;
  color: var(--emphasis-color);
}

.keyword {
  display: inline-block;
  padding: 0 1rem;
  border: var(--primary-line);
  border-radius: 100vh;
  -webkit-box-shadow: var(--secondary-shadow);
          box-shadow: var(--secondary-shadow);
  background-color: var(--highlight-color);
}

.keyword:link, .keyword:visited {
  text-decoration: none;
  color: inherit;
}

.keyword:hover {
  background-color: var(--highlight-color);
  -webkit-box-shadow: var(--tertiary-shadow);
          box-shadow: var(--tertiary-shadow);
  -webkit-transform: translateY(0.1rem);
          transform: translateY(0.1rem);
}

.keyword--active {
  cursor: none;
  pointer-events: none;
  background-color: var(--primary-grey);
}

.external {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.8rem;
}

.external:link, .external:visited {
  color: var(--link-color);
}

.formula,
.specialName {
  font-family: 'Courier New', Courier, monospace;
}

.annotation {
  font-size: 80%;
  background-color: var(--highlight-color);
}

.comment {
  font-size: 80%;
  opacity: 0.8;
}

.box {
  border: var(--primary-line);
  padding: 1rem;
}

.search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: var(--primary-margin);
}

.search-bar {
  display: inline-block;
  width: 50%;
  height: 3rem;
  font-size: 2rem;
  outline: none;
  border: none;
  border-radius: 100vh;
  padding: 0 1rem;
  -webkit-box-shadow: var(--primary-shadow);
          box-shadow: var(--primary-shadow);
}

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-info {
  font-size: 2rem;
  font-style: normal;
}

.contact-info > *:not(:last-child) {
  margin-bottom: var(--primary-margin);
}

.davis-logo {
  width: 15vw;
  height: auto;
  margin-right: var(--primary-margin);
}

.backToTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 2rem;
  right: 2rem;
  font-size: 2.2rem;
  width: 4rem;
  height: 4rem;
  border-radius: 100vh;
  border: none;
  background-color: var(--link-color);
  cursor: pointer;
  outline: none;
  -webkit-box-shadow: var(--primary-shadow);
          box-shadow: var(--primary-shadow);
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.backToTop:hover {
  background-color: var(--highlight-color);
}

.backToTop__icon {
  height: 2rem;
  width: 2rem;
  fill: #fff;
}

.container {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--primary-bg);
  color: #000;
  line-height: 1.6;
}

.container--dark {
  background-color: var(--secondary-bg);
  color: #fff;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: var(--primary-line);
  padding: 1rem 0;
  margin-bottom: var(--primary-margin);
}

.header__title {
  font-family: monospace;
  font-size: 3rem;
  margin-bottom: var(--primary-margin);
}

.nav {
  width: 85%;
}

.nav__links {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__link {
  display: inline-block;
  padding: 0 1rem;
  border: var(--primary-line);
  border-radius: 100vh;
  -webkit-box-shadow: var(--secondary-shadow);
          box-shadow: var(--secondary-shadow);
}

.nav__link:link, .nav__link:visited {
  text-decoration: none;
  color: inherit;
}

.nav__link:hover {
  background-color: var(--highlight-color);
  -webkit-box-shadow: var(--tertiary-shadow);
          box-shadow: var(--tertiary-shadow);
  -webkit-transform: translateY(0.1rem);
          transform: translateY(0.1rem);
}

.nav__link--active {
  cursor: none;
  pointer-events: none;
  background-color: var(--primary-grey);
}

.nav__theme {
  cursor: pointer;
}

.nav__theme-icon {
  width: 2rem;
  height: 2rem;
  fill: currentColor;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content__topics {
  list-style: none;
}

.content__item:not(:last-child) {
  margin-bottom: var(--primary-margin);
}

.content__link {
  display: inline-block;
  padding: 0 1rem;
  border: var(--primary-line);
  border-radius: 100vh;
  -webkit-box-shadow: var(--secondary-shadow);
          box-shadow: var(--secondary-shadow);
}

.content__link:link, .content__link:visited {
  text-decoration: none;
  color: inherit;
}

.content__link:hover {
  background-color: var(--highlight-color);
  -webkit-box-shadow: var(--tertiary-shadow);
          box-shadow: var(--tertiary-shadow);
  -webkit-transform: translateY(0.1rem);
          transform: translateY(0.1rem);
}

.content__link--active {
  cursor: none;
  pointer-events: none;
  background-color: var(--primary-grey);
}

.content__link:link, .content__link:visited {
  text-decoration: none;
  color: inherit;
}

.topic {
  width: 85%;
  margin: 0 auto;
}

.topic__title {
  text-align: center;
  margin-bottom: var(--primary-margin);
  font-size: 2.5rem;
}

.topic__subtitle, .topic__section__title {
  margin-bottom: var(--secondary-margin);
  font-size: 2rem;
}

.topic__goals {
  margin-left: var(--primary-margin);
  margin-bottom: var(--primary-margin);
}

.topic__section {
  border-top: var(--section-line);
}

.topic__section > *:not(.box) {
  padding: 1rem 0;
}

.topic__section:last-child {
  border-bottom: var(--section-line);
  margin-bottom: var(--primary-margin);
}

.topic__section__title {
  font-style: oblique;
}

.topic__section__subtitle {
  font-size: 1.75rem;
}

.topic__section__subtitle--small {
  font-size: 1.4rem;
}
/*# sourceMappingURL=main.css.map */